# Terraform state files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Logs
logs/
*.log

# Local overrides
*.tfvars
!default.tfvars

# OS junk
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.tgz

# Blueprint
blueprint.md
